body{
  background-color: #9400FF;
}
.top-menu{
  /* background-color: #22092C; */
  height: 60px;
  margin-bottom: 3px;
  /* border-bottom: 1px solid #7D7C7C; */
}

.select option{
  background-color: #22092C;
  color: #ffffff;
}

.top-menu .logo{
  color: #ffffff;
  height: 80px;
  font-size: 40px;
  font-weight: bolder;
  /* font-family: 'Bungee Spice', sans-serif; */
}

.right-container label{
  margin-top: 46px;
  color: #ffffff;
}
.right-container .output{
  padding: 10px;
  min-height:480px;
  max-height: 480px;
  width: 660px;
  margin-left: -15px!important;
  color: #22092C;
  outline: none;
  border-radius: 0px!important;
  font-weight: bolder;
  /* overflow: hidden; */
}
.right-container .output:focus{
  outline: none;
}
.top-menu .right-menu{
  height: 80px;
   
}
.top-menu .right-menu .right-menu-list ul li a{
  color: #ffffff!important;
   
}

.code-run-buttons .button{
  background-color: #22092C;
  color: #ffffff;
}

.footer{
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  color: #ffffff;
  
}