body{
  font-family: 'Kanit', sans-serif;
  background-color: #F4EAE0;
}
.top-menu{
  background-color: #22092C;
  height: 60px;
  margin-bottom: 3px;
}
/* .select {
  background-color: #22092C;
  border-radius: 5px;
  width: 180px;
} 
.select select{
  background: none;
  color: #ffffff;
  border: none;
} */
.select option{
  background-color: #22092C;
  color: #ffffff;
}

.top-menu .logo{
  color: #ffffff;
  height: 80px;
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Bungee Spice', sans-serif;
}
.right-container{
  background-color: #22092C;
  height: 560px;
  padding: 15px;
  border-radius: 5px;
  color: #ffffff;
}
.right-container .input{
  min-height:80px;
  max-height: 80px;
  border-radius: 10px;
  color: #22092C;
  /* overflow: hidden; */
}
.right-container .output{
  min-height:370px;
  max-height: 370px;
  border-radius: 10px;
  color: #22092C;
  /* overflow: hidden; */
}

.top-menu .right-menu{
  height: 80px;
   
}
.top-menu .right-menu .right-menu-list ul li a{
  color: #ffffff!important;
   
}

.code-run-buttons .button{
  background-color: #22092C;
  color: #ffffff;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E36414;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FB8B24;
}

.footer{
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  background-color: #22092C;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}